/* Variables du design */
html {
  --main-color: #f7d746;
  --sea: #63d3fc;
}

/* Place une image à gauche */
html::before {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 220px;
  background: url(dist.png);
  background-size: 100%;
}

/* Laisse la place pour cette image */
body {
  padding-left: 55px;
}

h1 {
  background-color: var(--main-color);
  color: #1fa161;
  padding: 0.5em;
  width: 800px;
  text-align: center;
  box-sizing: border-box;
}

main {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 800px;
  background-color: var(--sea);
  padding-left: 20px;
}

input,
label {
  display: inline-block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}